# -------------------------
# JUPYTER NOTEBOOKS
# -------------------------
.ipynb_checkpoints/
*.ipynb~
*.ipynb_checkpoints

# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
.env/

# -------------------------
# DATA SCIENCE / ML
# -------------------------

# Model artifacts
catboost_info/
*.pkl
*.joblib
*.h5
*.model
*.bin

# Large temporary files
*.csv.zip
*.tmp
*.temp

# Cache
.cache/

# -------------------------
# OS / EDITOR FILES
# -------------------------
.DS_Store
Thumbs.db
Desktop.ini

# VSCode
.vscode/

# PyCharm
.idea/

# -------------------------
# LOGS / TEMP
# -------------------------
*.log
*.tmp
*.temp

